/* Variables */
:root{
  /* color */
  --jet:   hsl(0,0%,20%);
  --white: hsl(0,0%,100%);
  --black: hsl(0,0%,0%);
  --onyx-1:hsl(0,0%,24%);
  --onyx-2:hsl(0,0%,25%);
  --gray-web:hsl(0,0%,48%);
  --light-gray:hsl(0,0%,80%);
  --davys-gray:hsl(0,0%,33%);
  --red-crayola:hsl(356,73%,58%);
  --field-drab: hsl(47,98%,22%);
  --golden-puppy:hsl(47,100%,49%);
  --quick-silver:hsl(0,0%,63%);
  --sonic-silver:hsl(0,0%,44%);
  --eerie-black-1:hsl(0,0%,15%);
  --eerie-black-2:hsl(0,0%,7%);
  --rich-black-fogra-39:hsl(0,0%,2%);
  
  /* typography */
  --ff-nunito: 'Nunito', sans-serif;
  --fs-1:32px;
  --fs-2:20px;
  --fs-3:19px;
  --fs-4:18px;
  --fs-5:16px;
  --fs-6:15px;
  --fs-7:14px;
  --fs-8:13px;
  --fs-9:12px;
  --fs-10:11px;

  --fw-500:500;
  --fw-700:700;

  /* transition */
  --transition: 0.15s ease-in-out;
}

/*  */
h1,h2,h3{color: var(--white);}
h1{
   font-size: var(--fs-1);
   text-transform: capitalize;
}
h2{font-size: var(--fs-3);}
h3{font-size: var(--fs-2);}
h4{ color: inherit;font-size: var(--fs-5);font-weight: var(--fw-700);}
h5{
  font-size: var(--fs-6);
  font-weight: var(--fw-500);
}

button{
  color: inherit;
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}



.btn{
  color: var(--white);
  font-size: var(--fs-9);
  font-weight: var(--fw-500);
  text-transform: uppercase;
  min-width: 130px;
  padding: 10px 15px;
  border-radius: 4px;
  border: 1px solid var(--golden-puppy);
}
.btn-primary{
  background: var(--golden-puppy);
  color: var(--black);
}
.btn-primary:is(:hover,:focus){--golden-puppy:hsl(47,100%,45%)}
.btn-secondary:is(:hover,:focus){background: hsla(47, 100%, 45%,0.1);}

/* Setting */
*,*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{text-decoration: none;}
li{list-style: none;}

button,image,input,a,span{display: block;}
input{font-size: inherit;}

body {
  scroll-behavior: smooth;
  font-family: var(--ff-nunito);
  min-width: 280px;
  color: var(--quick-silver);
  background: var(--rich-black-fogra-39);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[tabindex]{outline-offset: 4px;}
::--webkit-scrollbar{width: 10px;}
::-webkit-scrollbar-track{
  background: var(--rich-black-fogra-39);
  border-left: 1px solid var(--onyx-1);
}
::-webkit-scrollbar-thumb{
  background:var(--golden-puppy);
}
::-webkit-scrollbar-thumb:hover{
  background: var(--golden-puppy);
}
::-webkit-scrollbar-button{height: 5px;}

